<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="modernizr.custom.62074.js"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Bacasime+Antique" rel="stylesheet">
		<title>Please Login</title>
	</head>
	
	<body>
		<div class="container">
			
			<main class="form-container">
			
				<h1>Welcome to CSN Exam Registration</h1>
				
				<h2>Enter your Login Information or Sign-Up</h2>
				
				<form action="{{ url_for('login') }}" method="POST">
				
					<div class="input-group">
						<label for="user">Username</label>
						<input type="text" id="user" name="email" placeholder="Your Email or Student ID.." required>
					</div>
					
					<div class="input-group">
						<label for="pass">Password</label>
						<input type="password" id="pass" name="password" placeholder="Your Password.." required>
					</div>
					
					<div class="button-group">
						
						<button type="submit" class="btn">Login</button>
					

						<a href="{{ url_for('signup') }}" class="btn" role="button">Sign-Up</a>

					
					</div>
					
				</form> </main>
		</div>
	</body>
</html>